@model UserDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-3">@Model.FirstName @Model.LastName (@Model.UserName)</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">User Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UserName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.UserName)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FirstName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.FirstName)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.LastName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.LastName)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PIN)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.PIN)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.PhoneNumber)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PasswordHash)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.PasswordHash)</dd>
        </dl>
        <div class="text-center">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })
            <a asp-action="All" class="btn btn-secondary btn-sm">Back to List</a>
        </div>
    </div>
</div>