@model IEnumerable<CarAllViewModel>

@{
    ViewData["Title"] = "All Cars";
}

<h1>All Cars</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <colgroup>
            <col style="width: auto;" /> <!-- Adjust the width as needed -->
            <col style="width: auto;" /> <!-- Adjust the width as needed -->
            <col style="width: auto;" /> <!-- Adjust the width as needed -->
            <col style="width: auto;" /> <!-- Adjust the width as needed -->
            <col style="width: 45%;" /> <!-- Adjust the width as needed -->
            <col style="width: auto;" /> <!-- Adjust the width as needed -->
            <col style="width: auto;" /> <!-- Adjust the width as needed -->
        </colgroup>
        <thead class="thead-dark align-middle">
            <tr>
                <th class="col"> <!-- Add class="col" to each header to make them evenly spaced -->
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.Passenger)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.RentPrice)
                </th>
                <th class="col text-center">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody class="align-middle">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Brand)</td>
                    <td>@Html.DisplayFor(modelItem => item.Model)</td>
                    <td>@Html.DisplayFor(modelItem => item.Year)</td>
                    <td>@Html.DisplayFor(modelItem => item.Passenger)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>$@Html.DisplayFor(modelItem => item.RentPrice)</td>
                    <td class="text-center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
