@model CarDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-3">@Model.Brand @Model.Model</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Car Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Brand)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Brand)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Model)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Model)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Year)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Year)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Passenger)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Passenger)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.RentPrice)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.RentPrice)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Renter)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Renter)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.RenterId)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.RenterId)</dd>
        </dl>
        <div class="text-center">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id, bindingModel = Model }, new { @class = "btn btn-primary btn-sm" })
            <a asp-action="All" class="btn btn-secondary btn-sm">Back to List</a>
        </div>
    </div>
</div>
